.navbar-nav {
    li {
        &:hover {
            cursor: pointer;
            background-color:white;
        }
        .active {
            color: black;
            font-weight: bold;
        }
    }
}

$field-default: grey;
$field-used: rgba(128, 128, 128, 0.45);
.minechart-container {
    border: solid 1px grey;
    margin: 15px auto;
    padding: 20px;
    border-radius: 6px;
    .minechart {
        margin: 20px auto;
        width: 100%;
        .mainrow {
            .field {
                line-height: 0;
                border-spacing: 0;
                width: 30px;
                height: 30px;
                padding:0;
                color: black;
                box-sizing: content-box;
                background-color: $field-default;
                &.used {
                    background-color: $field-used;
                    color: white;
                }
                &:hover{
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
    }
}
